@page "/fromarena"

<h3>闘技場画面から</h3>

<div class="parameters">
    <table>
        <tr>
            <th>プレイヤー</th>
        </tr>
        <tr>
            <td>HP</td>
            <td><input class="number" type="text" @oninput="hpChange" value="@hp" /></td>
        </tr>
        <tr>
            <td>HIT</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>ATC</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>DEF</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>実際の速さ</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>追撃</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>連続</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>必殺率</td>
            <td><input class="number" type="text" /></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>相手</th>
        </tr>
        <tr>
            <td>章</td>
            <td>
                <select>
                    <option>序章</option>
                    <option>１章</option>
                    <option>２章</option>
                    <option>３章</option>
                    <option>４章</option>
                    <option>５章</option>
                    <option>６章</option>
                    <option>７章</option>
                    <option>８章</option>
                    <option>９章</option>
                    <option>１０章</option>
                    <option>終章</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>レベル</td>
        </tr>
        <tr>
            <td>HIT</td>
            <td><input class="number" type="text" /></td>
        </tr>
    </table>
</div>

<input type="button" value="計算" @onclick="CalcWinrate" />

@code {
    private string hp = "35";

    private void hpChange(ChangeEventArgs e)
    {
        hp = e.Value.ToString();
    }

    private void CalcWinrate()
    {

    }
}

