@page "/"

<h3>ステータスから</h3>

<div class="parameters">
    <table>
        <tr>
            <th>プレイヤー</th>
        </tr>
        <tr>
            <td>HP</td>
            <td><input class="number" type="text"
                       @oninput="@(e => valueChange(e, ref hp))" value="@hp"/></td>
        </tr>
        <tr>
            <td>攻撃</td>
            <td><input class="number" type="text"
                       @oninput="@(e => valueChange(e, ref atc))" value="@atc"/></td>
        </tr>
        <tr>
            <td>命中</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>回避</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>実際の速さ</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>守備(魔防)</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>追撃</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>連続</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>必殺率</td>
            <td><input class="number" type="text" /></td>
        </tr>
        <tr>
            <td>武器相性</td>
            <td>
                <select>
                    <option>有利</option>
                    <option>普通</option>
                    <option>不利</option>
                </select>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>相手</th>
        </tr>
        <tr>
            <td>章</td>
            <td>
                <select>
                    <option>序章</option>
                    <option>１章</option>
                    <option>２章</option>
                    <option>３章</option>
                    <option>４章</option>
                    <option>５章</option>
                    <option>６章</option>
                    <option>７章</option>
                    <option>８章</option>
                    <option>９章</option>
                    <option>１０章</option>
                    <option>終章</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>レベル</td>
        </tr>
    </table>
</div>

<input type="button" value="計算" @onclick="CalcWinrate"/>

@code
{
    private string hp = "35";
    private string atc = "20";

    private void valueChange(ChangeEventArgs e, ref string target)
    {
        target = e.Value.ToString();
    }

    private void CalcWinrate()
    {
        Console.WriteLine("HP: " + hp);
        Console.WriteLine("ATC: " + atc);
    }
}

